<launch>
  <include file="$(find grasploc_wrapper)/launch/grasploc_wrapper.launch"/>
  <include file="$(find fetch_manipulation_pipeline)/launch/fetch_manipulation_pipeline.launch"/>
  <include file="$(find centroid_detector)/launch/centroid_detector.launch"/>
  <include file="$(find bag_handle_detector)/launch/bag_handle_detector.launch"/>
  <node name="grab_bag" pkg="fetch_manipulation_pipeline" type="grab_bag" respawn="true" output="screen"/>
  <!-- Behavior tree gui -->
  <node name="rqt_py_trees" pkg="rqt_py_trees" type="rqt_py_trees"/>

  <!-- Load recorded trajectories -->
  <rosparam file="$(find lfd)/config/Lfd_Final_Part.yaml" command="load" />
  <rosparam file="$(find lfd)/config/Lfd_Retrieve.yaml" command="load" />

  <!-- lfd cmd version -->
  <node name="lfd" pkg="lfd" type="lfd.py" output="screen"/>

</launch>
